  .dropdown {
    display: flex;
    flex-wrap: wrap;
  }

  .dropdown-item-title{
    padding: 10px;
    margin: 0 5px;
  }

  .dropdown-item-container{
    position: relative;
  }
  
  .dropdown-item {
    position: absolute;
    width: 150px;
    z-index: 1;
    padding: 20px 20px ;
  }  
  
  .dropdown-item-container:hover {
    background-color: rgba(0,0,0,0.3); 
  }
